*{
padding: 0;
margin: 0;
}

.fa {
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

.nav{
    background : rgba(159, 96, 96, 0.3);
    border-bottom: 5px solid rgb(159,96,96);
    border-top: 5px solid rgb(159,96,96);
    border-radius: 50px 20px;
    box-shadow: 10px 10px 5px grey;
}

.nav img{
    margin :10px 0px -10px;
    height: 100px;
    border-spacing:2px solid blue;
    border-radius: 50px;
    box-shadow: 10px 10px 5px grey;
}

nav {
    float: right;
    margin-top: 20px;
}

nav a{
    text-decoration: none;
    color: purple;
    font-size:200%;
    padding: 0px 30px;
    margin: 10px;
    border-left: 7px solid purple;
}

nav a:hover{
    background: rgb(191,191,191);
    border-bottom: 7px solid purple ;
    transition: .4s;
}

.hh{
    background : rgba(118, 223, 205, 0.3);
    z-index: -2;
    background: linear-gradient(to left,#3a1c71,#d76d77,#ffaf7b);
}

.intro{
    background: linear-gradient(to left,#76b852,#64b3f4);
}

.hello h1{
    position: relative;
    font-size:100px;
    padding: 0px 0px 0px;
    text-align: center;
    animation-name: example;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes example{
    0%{color:red; left: 0px; top: 0px;}
    25%{color:yellow; left: -100px; top: 0px;}
    50%{color:blue; left: 0px; top: 0px;}
    100%{color:green; left: 0px; top: 0px;}
}

.intro img{
    width: 20%;
    margin-left: 40%;
    border: solid 2px #000000;
    border-radius: 300px;
}

.intro p{
    color: #052b2c;
    text-align: center;
    line-height: 100%;
    margin: 20px 0px;
    font-size: 500%;
}


#sec2{
    background: url(../image/aboutc.jpg);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#sec2 h1{
    text-align: center;
    font-size:150px;
    text-shadow:4px 2px  red;
}

.aboutSec{
    font-size:180%;
    margin: 40px 0px 0px;
}
.aboutSec h2{
    text-shadow:4px 2px  rgb(153, 85, 150);
} 
.aboutSec p{
    padding: 20px 0px 20px 100px;
    line-height:30px;
    font-weight: bold;
    font-style: italic;
}

#footer{
    background : rgba(159, 96, 96, 0.3);
}

.footerL{
    display: inline;
    list-style: none;
}

.send{
    display: inline-block;
    float: right;
    font-size:40px;
    margin-right: 40px;
    margin-top: 60px;
}

.send a{
    text-decoration: none;
    background: #464545;
    margin:40px;
    padding: 20px;
    border: solid 1px #000000;
}

.send a:hover i{
    transform:scale(1.4);
}
